div.content {
    padding-top: 45px;
    font: inherit;
}

div.homeSection {
    min-height: 50vh;
    height: auto !important;

    margin: 50px 35px 0px 35px;
    padding: 20px;
    padding-bottom: 20px;

    border-radius: 15px;
    background-color: var(--light-part);

    color: #ffffff;
    font-weight: 600;

}

div.left-rounded {
    padding: 20px;
    border-radius: 20px;
    background-image: linear-gradient(#28ade6, #147efb);
}

div.imgHolder {
    display: block;

    float: left;

    position: relative;
    bottom: 20px;
    right: 5px;

    border-right: 2px var(--light-part) solid;

    padding-right: 10px;
    padding-bottom: 25px;

}

div.imgHolder * {
    position: relative;
    top: 12px;
}

div.textHolder {
    position: relative;
    top: 20px
}

span.msgText {
    position: relative;
}

hr {
    height: 5px;
    background-color: rgb(38, 55, 93);
    border: none;
}

.wrap-around-text {
    display: inline-block;
    justify-content: center;
}

.text-button {
    padding: 5px; 
    margin-right:10px; 
    background-color: #4c9be6; 
    border: 2px #4c9be6 solid; 
    border-radius: 12px; 
}

.assignmenthover {
    margin: 10px;
}

.assignmenthover:hover {
    text-decoration:none;
    
}

img.cc {
    display:block;
    float:right; 
    border-radius: 20px;
}
div.ccholder {
    overflow:auto;
    margin:25px;
    border:#8bb4e2 1px solid;
    background: #8bb4e2;
    padding:25px;
    border-radius:20px;
}

.fake-page hr {
    background-color:white; 
    border:1px black solid; 
    height: 1px;
}